################################# SERVER #################################

MagnusServer/.gradle
MagnusServer/build/

# Ignore Gradle GUI config
MagnusServer/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
MagnusServer/!gradle-wrapper.jar

# Cache of project
MagnusServer/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

MagnusServer/out/*
MagnusServer/.idea/*
MagnusServer/*.iml


################################# STREAMER #################################

MagnusStreamer/.gradle
MagnusStreamer/build/

# Ignore Gradle GUI config
MagnusStreamer/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
MagnusStreamer/!gradle-wrapper.jar

# Cache of project
MagnusStreamer/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

MagnusStreamer/out/*
MagnusStreamer/.idea/*
MagnusStreamer/*.iml
